version: 2.1
jobs:
  build:
    machine: true
    environment:
      IMAGENAME: hassank/mkvtoolnix
    steps:
      - checkout
      - run: echo "${DOCKER_PASS}" | docker login --username hassank --password-stdin
      - run: docker build -t ${IMAGENAME}:latest mkvtoolnix
      - run: docker push ${IMAGENAME}:latest
