version: 2.1
jobs:
  build:
    machine: true
    environment:
      IMAGENAME: hassank/mkvtoolnix
    steps:
      - checkout
      - run: echo "${DOCKER_PASS}" | docker login --username hassank --password-stdin
      - run: |
          export VERSION=$(cat mkvtoolnix/.version)
          docker build --tag ${IMAGENAME}:latest --tag ${IMAGENAME}:${VERSION} --file mkvtoolnix/Dockerfile --build-arg VERSION=${VERSION} .
    - run: |
        export VERSION=$(cat mkvtoolnix/.version)
        docker push ${IMAGENAME}:latest
        docker push ${IMAGENAME}:${VERSIONj}
